/* Estilos para dispositivos móveis */
@media (max-width: 576px) {
    .navbar-brand {
        font-size: 1.2rem; /* Tamanho da fonte menor para dispositivos móveis */
    }

    h2 {
        font-size: 1.5rem; /* Tamanho da fonte menor para dispositivos móveis */
        margin-bottom: 20px; /* Aumenta a margem inferior para separar os elementos */
    }

    .form-group label {
        font-size: 1rem; /* Tamanho da fonte menor para dispositivos móveis */
    }

    .form-control {
        font-size: 0.9rem; /* Tamanho da fonte menor para dispositivos móveis */
    }

    button[type="submit"] {
        font-size: 1rem; /* Tamanho da fonte menor para dispositivos móveis */
    }

    .footer {
        font-size: 0.8rem; /* Tamanho da fonte menor para dispositivos móveis */
        padding: 10px 0; /* Menor padding no rodapé */
    }
}
